.trackLibrary {
	width: 75%;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 25px;

	.wrapper {
		height: 75%;
		width: 100%;
		background-color: #eef3f7;
		border-radius: 30px;

	}
}
