.musicPlayerSlider{
    position: absolute;
    top: 90%;
    width: 80%;
    left: 10%;
    height: 2px;
    background-color: gray;

    &:hover{
        cursor: pointer;
    }
    
    & p {
        color: gray;
        font-size: 11px;
    }

    & .musicPlayerSliderTimeIndicator {
        position: absolute;
        color: gray;
        background-color: gray;
        width: 1px;
        height: 10px;
        left: 0;
        margin-top: -4px;
        z-index: 2;

        &:hover{
            cursor: pointer;
        }
    }

    & .musicPlayerSliderTime{
        position: absolute;
        left: 90%;
        bottom: 10%;
    }

    & .musicPlayerSliderCurrentTime{
        position: absolute;
        left: 0;
        bottom: 10%;
    }
}
